# Common parameters
# All the parameters here are similar to the command line arguments

[common]
cuda_devices 0 1 2 3 4 5
templimit    80
pec          0
boff         0
eexit        0
tempunits    C
algo         125_4
pers         ZelProof



# The miner start work from this server
# When the server is fail, the miner will try to reconnect 3 times
# After three unsuccessful attempts, the miner will switch to the next server
# You can add up to 8 servers

# main server
[server]
server na.minerpool.org	
port   2032
user   t1etR7A51Raauy59KmvBpmet2qg1cDTzzs4.Bacot
pass   212

# failover
[server]
server eu.minerpool.org	
port   2032
user   t1etR7A51Raauy59KmvBpmet2qg1cDTzzs4.Baacot
pass   212
